@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

html {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.fusionstorm {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.inspire,
.about {
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.25);
    transition: color 0.2s;
    text-decoration: none;
}

.inspire:hover,
.about:hover {
    text-decoration: underline;
    color: white;
}

.about {
    right: 70px;
}

.fusion-text {
    position: absolute;
    margin-left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100vw;
    z-index: 3;
}

.fusion-title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: rgba(183, 73, 14);
    width: 100vw;
    z-index: 10;
    margin-bottom: 0;
    transition: color 0.2s;
}

@media screen and (max-width: 500px) {
    .fusion-title[data-title="i"] {
        font-size: 10.24vw;
    }
}

.fusion-subtitle {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 700;
    position: relative;
}

.learn-more {
    position: absolute;
    width: 100vw;
    text-align: center;
    bottom: 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.learn-more svg {
    position: relative;
    scale: 0.7;
    top: 7px;
}

.fusion-intro-video {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1000px;
    border-radius: 6px;
    width: 560px;
    height: 315px;
    z-index: 4;
}

@media screen and (max-width: 700px) {
    .fusion-intro-video {
        width: 80vw;
    }
}

.fusion-data-title {
    position: relative;
    top: 1800px;
    font-size: 23px;
    font-weight: 700;
    width: 100vw;
    text-align: center;
    overflow: visible;
}

.fusion-data-stat {
    position: relative;
    display: block;
    /*margin-right: 600px;*/
    white-space: nowrap;
    text-align: left;
    margin-left: 50%;
    transform: translate(-50%);
}

.fusion-data-stat:not(:first-of-type) {
    margin-top: -40px;
}

.fusion-data-desc {
    position: relative;
    top: -7px;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.data1 {
    /*width: calc(100vw - 270px);*/
}
.data2 {
    /*width: calc(100vw - 9px);*/
}
.data3 {
    /*width: calc(100vw - 250px);*/
}
.data4 {
    /*width: calc(100vw - 53px);*/
}

@media screen and (max-width: 900px) {
    .fusion-data-stat {
        padding-left: 5vw;
    }

    .fusion-data-desc {
        white-space: initial !important;
        text-align: left;
    }

    .fusion-data-desc:first-of-type {
        width: 95vw !important;
    }

    .helium {
        width: calc(100vw - 60px) !important;
    }
}

.fusion-energy-demo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 2700px;
}

.fusion-energy-demo label {
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
}

.fusion-energy-slider {
    width: 60% !important;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    height: 5px;
    display: inline-block;
}

.fusion-energy-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: darkorange;
    height: 10px;
    width: 20px;
    cursor: pointer;
    z-index: -1;
}

.fusion-energy-slider-values {
    display: inline-block;
    font-family: "JetBrains Mono", monospace;
}

.fusion-energy-slider-values {
    position: relative;
    margin-left: 20px;
}

.fusion-energy-demo h3 {
    position: relative;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0;
}

.fusion-info-sources {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 3500px;
    text-align: center;
    width: 100vw;
}

.fusion-info-sources a {
    color: dodgerblue;
    transition: 0.25s;
}

.fusion-info-sources a:hover {
    color: #82c2ff;
}

.fusion-info-sources a:active {
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .fusion-info-sources {
        top: 3600px;
    }
}

@media screen and (max-width: 500px) {
    .fusion-info-sources {
        top: 3700px;
    }
}

@media screen and (max-width: 410px) {
    .fusion-info-sources {
        top: 3850px;
    }
}

@media screen and (max-width: 400px) {
    .fusion-info-sources {
        top: 3850px;
    }
}

@media screen and (max-width: 390px) {
    .fusion-info-sources {
        top: 3900px;
    }
}

@media screen and (max-width: 370px) {
    .fusion-info-sources {
        top: 4000px;
    }
}
